<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<% unless @user.beer_clubs.count == 0 %>
  member of
  <ul style="list-style: none;">
    <% @user.beer_clubs.each do |club| %>
      <li>
        <%= link_to club.name, club %>
      </li>
    <% end %>
  </ul>
<% end %>
  
<p>
  has made <%= pluralize(@user.ratings.count, 'rating', 'ratings') %>
</p>

<% unless @user.ratings.count == 0 %>
  The ratings have the average <%= @user.average_rating %> </br></br>
  <strong>Ratings</strong></br>
  <ul style="list-style: none;">
  <% @user.ratings.each do |rating| %>
    <li> 
      <%= rating.to_s %> 
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<% unless @user.favorite_style.nil? %>
  Favorite beer style is <%= @user.favorite_style %>.
<% end %>

</br></br>
<% unless @user.favorite_brewery.nil? %>
  Favorite brewery is <%= @user.favorite_brewery %>.
<% end %>

</br></br>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure? This will erase your username from the database!' } %>
<% end %>
