<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<p>
  has made <%= pluralize(@user.ratings.count, 'rating', 'ratings') %>
</p>

<% unless @user.ratings.count == 0 %>
  The ratings have the average <%= @user.average_rating %> </br></br>
  <strong>Ratings</strong></br>
  <ul>
  <% @user.ratings.each do |rating| %>
    <li> 
      <%= rating.to_s %> 
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

</br>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure? This will erase your username from the database!' } %>
<% end %>
