<p id="notice"><%= notice %></p>

<h2>Users</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Username</th>
      <th>Rated Beers</th>
      <th>Total Ratings</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.beers.size %></td>
        <td><%= user.ratings.size %></td>
        <td><%= user.favorite_beer %></td>
        <% if current_user && current_user.admin && user.iced %>
          <td><span class="badge">account frozen</span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New User', new_user_path %>
