<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<% unless @user.beer_clubs.count == 0 %>
  member of
  <ul style="list-style: none;">
    <% @user.beer_clubs.each do |club| %>
      <li>
        <%= link_to club.name, club %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @user.favorite_style.nil? %>
  </br>
  Favorite beer style is <%= @user.favorite_style %>.
<% end %>

<% unless @user.favorite_brewery.nil? %>
  </br></br>
  Favorite brewery is <%= @user.favorite_brewery %>.
<% end %>

</br></br>  
<p>
  Has made <%= pluralize(@user.ratings.count, 'rating', 'ratings') %>
</p>

<% unless @user.ratings.count == 0 %>
  The ratings have the average <%= round(@user.average_rating) %> </br></br>
  <h4>Ratings</h4>
  <table class="table table-striped table-condensed">
    <thead>
      <th>Beer Score</th>
    </thead>
    <tbody>
      <% @user.ratings.each do |rating| %>
        <tr> 
          <td><%= rating.to_s %></td> 
          <% if @user == current_user %>
            <td><%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

</br></br>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:"btn-sm btn-primary" %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure? This will erase your username from the database!' }, class:"btn-sm btn-primary" %>
<% end %>
