<p id="notice"><%= notice %></p>

<h1>Styles</h1>

<ul style="list-style-type:none">
    <% @styles.each do |style| %>
      <li>
        <%= link_to style.name, style %>
        <% if current_user %>
          <%= link_to 'Edit', edit_style_path(style) %>
          <%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
</ul>

<br>

<%= link_to 'New Style', new_style_path if current_user %>
