<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>

<p>
  <i>Established in</strong>
  <%= @brewery.year %></i>
</p>

<br />
<p>
  Number of <strong>Beers</strong>
  <%= @brewery.beers.count %>
</p>

<table class="table table-striped table-condensed">
  <% @brewery.beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name, beer %></td>
    </tr>
  <% end %>
</table>
<br />

<p>
  Has <%= pluralize(@brewery.ratings.count, 'rating', 'ratings')%><% if @brewery.ratings.count > 0 %>, average <%= @brewery.average_rating %>
  <% end %>
</p>
<br />

<% if current_user %>
  <%= link_to 'Edit', edit_brewery_path(@brewery), class:"btn-sm btn-primary" %> 
<% end %>


