<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>
<br />
<%= form_tag places_path do %>
  City <%= text_field_tag :city, params[:city] %>
  <%= submit_tag 'Search' %>
<% end %>

<br /> 
<% if @places %>
  <ul>
    <% @places.each do |place| %>
      <li><%= link_to place.name, place_path(place.id) %></li>
    <% end %>
  </ul>
<% end %>
