<h2>Beer places search</h2>

<p id="notice"><%= notice %></p>
<br />
<%= form_tag places_path do %>
  City <%= text_field_tag :city, params[:city] %>
  <%= submit_tag 'Search', class:"btn-sm btn-primary" %>
<% end %>

<br /> 
<% if @places %>
  <table class="table table-striped table-condensed">
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place_path(place.id) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
